Functional Requirement
1. Register ลงทะเบียน 
2. Log in ลงชื่อเข้าใช้ 
3. Calender มีการบันทึกกิจกรรมที่ทำในแต่ละวัน
4. Reminder เตือนความจำ มีการบุระความสำคัญของงาน ตามลำดับก่อนหลังที่ควรจะต้องทำก่อน
5. ตารางเรียน เป็นฟังก์ชันย่อยที่สามารถกดเพิ่มได้
6. Note การเขียนโน้ตที่สามารถ วาดรูป เขียนด้วยลายมือตัวเองได้
7. search สำหรับค้นหาข้อความที่เราในโน้ตที่ต้องการค้นหา
8. การบันทึกโน้ตแบบไดอารี่ที่มีการเพิ่มรูปภาพ อัดเสียง ขณะโน้ตได้ แปะสติ๊กเกอร์ได้
9. ( Feature เจ๋ง ) ระบบโน้ตลับ มีการเข้ารหัสโน้ตที่ต้องการรักษาความปลอดภัย

Non-Functional Requirement
10. reliability : ความน่าเชื่อถือ เพราะมีระบบลงชื่อเข้าใช้ สำหรับสมาชิกเท่านั้น
11. usability : ใช้งานง่าย สามารถบันทึกแบบออฟไลน์ได้
12. portability : พกพาสะดวก สามารถใช้ได้กับ Smartphone