

To do List Requirements

Functional Requirement
1. Register ลงทะเบียน 
2. Log in ลงชื่อเข้าใช้ 
3. Calender มีการบันทึกกิจกรรมที่ทำในแต่ละวัน
4. Reminder เตือนความจำ มีการระบุความสำคัญของงาน ตามลำดับก่อนหลังที่ควรทำก่อน
5. ตารางเรียน เป็นฟังก์ชันย่อยที่สำหรับนักเรียน/นักศึกษา ใช้บันทึกวิชาเรียนและเวลา
6. Note การเขียนโน้ตที่สามารถ วาดรูป เขียนด้วยลายมือตัวเองได้
7. search สำหรับค้นหาข้อความในโน้ตที่เคยบันทึกไว้
8. การบันทึกโน้ตแบบไดอารี่ที่มีการเพิ่มรูปภาพ อัดเสียงขณะโน้ตได้ แปะสติ๊กเกอร์ได้
9. ( Feature เจ๋ง ) ระบบโน้ตลับ มีการเข้ารหัสโน้ตที่ต้องการรักษาความปลอดภัย

Non-Functional Requirement
10. reliability : ความน่าเชื่อถือ เพราะมีระบบลงชื่อเข้าใช้ สำหรับสมาชิกเท่านั้น
11. usability : ใช้งานง่าย กระบวนการไม่ซับซ้อน ไอคอนสื่อความหมาย
12. portability : สะดวกพกพาง่าย สามารถทำลิสต์ได้ทุกที่ทุกเวลาที่มีอินเตอร์เน็ต ผ่านทางสมาร์ทโฟน แทปเลต คอมพิวเตอร์
